*.log
.DS_Store
.env
.env.backup
.env.production
.npm-cache
.phpactor.json
.phpunit.result.cache
.psysh
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.xlsx_extract
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/scratch
/storage/*.key
/storage/framework/*.php
/storage/pail
/storage/testing
/tools
/vendor
check.php
compiled_test.php
composer-setup.php
composer.phar
Homestead.json
Homestead.yaml
Thumbs.db
